.tableHead {
    font-family: 'Avalon';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    box-sizing: border-box;
    padding: 10px;
}

.tableRowValue {
    /* display: flex;
    flex-direction: row;
    align-items: flex-start; */
    padding: 10px;
    gap: 10px;
    /* White */
    background: #FFFFFF;
    /* Border1 */
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
}

.rowItem {
    font-family: 'Avalon';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;

    /* B4 */

    color: #616576;
}