.footer {
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 48px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #333333;
}

.footerContentleft {
  font-family: "Avalon";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #bdbdbd;
  margin-left: 50px;
}
